<div 
	data-page
	data-first-focus-indicator>
	<div
		data-add-currency
		data-content
		className="col-lg-4 col-md-6 col-sm-9 col-xs-12"
		data-minimal-scrollbar
		data-reference-height="body">
		<div 
			data-header>
			<h1 
				data-label
				data-header-label
				data-sub-header-label>
				add currency
			</h1>
		</div>
		<div 
			data-body>
			<div 
				data-form
				data-align-vertical>
				<div 
					data-form-item>
					<div 
						data-input>
						<input
							name="title" 
							placeholder="TITLE"
							title="Enter the title of currency."
							value={ this.state.title }
							onChange={ this.onChange }/>
					</div>
				</div>
				<div 
					data-form-item>
					<div 
						data-input>
						<input
							name="name" 
							placeholder="NAME"
							title="Enter the name of currency."
							value={ this.state.name }
							onChange={ this.onChange }/>
					</div>
				</div>
				<div 
					data-form-item>
					<div 
						data-input>
						<textarea
							name="description" 
							placeholder="DESCRIPTION"
							title="Enter the description of currency."
							value={ this.state.description }
							onChange={ this.onChange }>
						</textarea>
					</div>
				</div>
				<div 
					data-form-item>
					<div 
						data-input>
						<input 
							type="text" 
							name="symbol" 
							placeholder="SYMBOL"
							title="Enter the symbol of the currency."
							value={ this.state.symbol }
							onChange={ this.onChange }/>
					</div>
				</div>
			</div>
		</div>
		<div 
			data-controls
			data-footer
			data-align-vertical>
			<button 
				data-control
				onClick={ this.onAddCurrency }>
				<span
					data-label>
					Add	
				</span>
			</button>
			<button 
				data-control
				onClick={ this.onCancel }>
				<span
					data-label>
					Cancel	
				</span>
			</button>
		</div>		
	</div>
</div>
