<div
	data-page>
	<div
		data-dashbar
		data-content
		data-align-vertical>
		<div
			data-dash-header>
			{ /*: @sub-template: template/profile.html */ }
		</div>
		<div>
			<div
				data-dash-list
				data-align-vertical>
				<div
					name="edit-profile"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-user">
						</span>
					</button>
					<span
						data-label>
						Edit Profile
					</span>
				</div>
				{ /*: @administrator-mode: */ }
				<div
					name="manage-users"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-user">
						</span>
					</button>
					<span
						data-label>
						Manage Users
					</span>
					<button
						name="user-option"
						data-dash-option-control
						data-control
						data-small-control
						data-option-control-switch>
						<span
							data-open-control
							data-icon
							className="glyphicon glyphicon-cog">
						</span>
						<span
							data-close-control
							data-icon
							className="glyphicon glyphicon-chevron-up">
						</span>
					</button>
				</div>
				<div
					data-option-for="user-option">
					<div
						name="add-user"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-plus">
							</span>
						</button>
						<span
							data-label>
							Add User
						</span>
					</div>
					<div
						name="view-users"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Users
						</span>
					</div>
				</div>
				<div
					name="add-vehicle"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-plus">
						</span>
					</button>
					<span
						data-label>
						Add Vehicle
					</span>
					<button
						name="vehicle-option"
						data-dash-option-control
						data-control
						data-small-control
						data-option-control-switch>
						<span
							data-open-control
							data-icon
							className="glyphicon glyphicon-cog">
						</span>
						<span
							data-close-control
							data-icon
							className="glyphicon glyphicon-chevron-up">
						</span>
					</button>
				</div>
				<div
					data-option-for="vehicle-option">
					<div
						name="view-vehicles"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Vehicles
						</span>
					</div>
					<div
						name="add-vehicle-model"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-plus">
							</span>
						</button>
						<span
							data-label>
							Add Vehicle Model
						</span>
					</div>
					<div
						name="view-vehicle-models"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Vehicle Models
						</span>
					</div>
					<div
						name="edit-vehicle-model"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-pencil">
							</span>
						</button>
						<span
							data-label>
							Edit Vehicle Model
						</span>
					</div>
					<div
						name="delete-vehicle-model"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-trash">
							</span>
						</button>
						<span
							data-label>
							Delete Vehicle Model
						</span>
					</div>
				</div>
				<div
					name="manage-places"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-plus">
						</span>
					</button>
					<span
						data-label>
						Manage Places
					</span>
					<button
						name="place-option"
						data-dash-option-control
						data-control
						data-small-control
						data-option-control-switch>
						<span
							data-open-control
							data-icon
							className="glyphicon glyphicon-cog">
						</span>
						<span
							data-close-control
							data-icon
							className="glyphicon glyphicon-chevron-up">
						</span>
					</button>
				</div>
				<div
					data-option-for="place-option">
					<div
						name="add-place"
						data-dash-item
						data-control
						onClick={ AddPlace.open }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-plus">
							</span>
						</button>
						<span
							data-label>
							Add Place
						</span>
					</div>
					<div
						name="view-places"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Places
						</span>
					</div>
					<div
						name="edit-place"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-pencil">
							</span>
						</button>
						<span
							data-label>
							Edit Place
						</span>
					</div>
					<div
						name="delete-place"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-trash">
							</span>
						</button>
						<span
							data-label>
							Delete Place
						</span>
					</div>
					<div
						name="add-amenity"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-plus">
							</span>
						</button>
						<span
							data-label>
							Add Amenity
						</span>
					</div>
					<div
						name="view-amenities"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Amenities
						</span>
					</div>
					<div
						name="edit-amenity"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-pencil">
							</span>
						</button>
						<span
							data-label>
							Edit Amenity
						</span>
					</div>
					<div
						name="delete-amenity"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-trash">
							</span>
						</button>
						<span
							data-label>
							Delete Amenity
						</span>
					</div>
				</div>
				<div
					name="add-park"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-plus">
						</span>
					</button>
					<span
						data-label>
						Add Park
					</span>
					<button
						name="park-option"
						data-dash-option-control
						data-control
						data-small-control
						data-option-control-switch>
						<span
							data-open-control
							data-icon
							className="glyphicon glyphicon-cog">
						</span>
						<span
							data-close-control
							data-icon
							className="glyphicon glyphicon-chevron-up">
						</span>
					</button>
				</div>
				<div
					data-option-for="park-option">
					<div
						name="view-parks"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Parks
						</span>
					</div>
					<div
						name="edit-park"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-pencil">
							</span>
						</button>
						<span
							data-label>
							Edit Park
						</span>
					</div>
					<div
						name="delete-park"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-trash">
							</span>
						</button>
						<span
							data-label>
							Delete Park
						</span>
					</div>
				</div>
				<div
					name="add-slot"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-plus">
						</span>
					</button>
					<span
						data-label>
						Add Slot
					</span>
					<button
						name="slot-option"
						data-dash-option-control
						data-control
						data-small-control
						data-option-control-switch>
						<span
							data-open-control
							data-icon
							className="glyphicon glyphicon-cog">
						</span>
						<span
							data-close-control
							data-icon
							className="glyphicon glyphicon-chevron-up">
						</span>
					</button>
				</div>
				<div
					data-option-for="slot-option">
					<div
						name="view-slots"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Slots
						</span>
					</div>
					<div
						name="edit-slot"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-pencil">
							</span>
						</button>
						<span
							data-label>
							Edit Slot
						</span>
					</div>
					<div
						name="delete-slot"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-trash">
							</span>
						</button>
						<span
							data-label>
							Delete Slot
						</span>
					</div>
				</div>
				<div
					name="add-price"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-plus">
						</span>
					</button>
					<span
						data-label>
						Add Price
					</span>
					<button
						name="price-option"
						data-dash-option-control
						data-control
						data-small-control
						data-option-control-switch>
						<span
							data-open-control
							data-icon
							className="glyphicon glyphicon-cog">
						</span>
						<span
							data-close-control
							data-icon
							className="glyphicon glyphicon-chevron-up">
						</span>
					</button>
				</div>
				<div
					data-option-for="price-option">
					<div
						name="view-prices"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Prices
						</span>
					</div>
					<div
						name="add-price-category"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-plus">
							</span>
						</button>
						<span
							data-label>
							Add Price Category
						</span>
					</div>
					<div
						name="view-price-categories"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Price Categories
						</span>
					</div>
					<div
						name="edit-price-categories"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-pencil">
							</span>
						</button>
						<span
							data-label>
							Edit Price Category
						</span>
					</div>
					<div
						name="delete-price-category"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-trash">
							</span>
						</button>
						<span
							data-label>
							Delete Price Category
						</span>
					</div>
					<div
						name="add-currency"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-plus">
							</span>
						</button>
						<span
							data-label>
							Add Currency
						</span>
					</div>
					<div
						name="view-currencies"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Currencies
						</span>
					</div>
					<div
						name="edit-currencies"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-pencil">
							</span>
						</button>
						<span
							data-label>
							Edit Currency
						</span>
					</div>
					<div
						name="delete-currency"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-trash">
							</span>
						</button>
						<span
							data-label>
							Delete Currency
						</span>
					</div>
				</div>
				<div
					name="manage-reserves"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-user">
						</span>
					</button>
					<span
						data-label>
						Manage Reservations
					</span>
					<button
						name="reserve-option"
						data-dash-option-control
						data-control
						data-small-control
						data-option-control-switch>
						<span
							data-open-control
							data-icon
							className="glyphicon glyphicon-cog">
						</span>
						<span
							data-close-control
							data-icon
							className="glyphicon glyphicon-chevron-up">
						</span>
					</button>
				</div>
				<div
					data-option-for="reserve-option">
					<div
						name="add-reserve"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-plus">
							</span>
						</button>
						<span
							data-label>
							Add Reservation
						</span>
					</div>
					<div
						name="view-reserves"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Reservations
						</span>
					</div>
					<div
						name="add-reserve-state"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-plus">
							</span>
						</button>
						<span
							data-label>
							Add Reservation State
						</span>
					</div>
					<div
						name="view-reserve-states"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Reservation States
						</span>
					</div>
				</div>
				<div
					name="manage-parq"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-cog">
						</span>
					</button>
					<span
						data-label>
						Manage Parq
					</span>
					<button
						name="parq-option"
						data-dash-option-control
						data-control
						data-small-control
						data-option-control-switch>
						<span
							data-open-control
							data-icon
							className="glyphicon glyphicon-option-vertical">
						</span>
						<span
							data-close-control
							data-icon
							className="glyphicon glyphicon-chevron-up">
						</span>
					</button>
				</div>
				{ /* @end-administrator-mode */ }

				{ /*: @client-mode: */ }
				<div
					name="register-vehicle"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-plus">
						</span>
					</button>
					<span
						data-label>
						Register Vehicle
					</span>
					<button
						name="vehicle-option"
						data-dash-option-control
						data-control
						data-small-control
						data-option-control-switch>
						<span
							data-open-control
							data-icon
							className="glyphicon glyphicon-option-vertical">
						</span>
						<span
							data-close-control
							data-icon
							className="glyphicon glyphicon-chevron-up">
						</span>
					</button>
				</div>
				<div
					data-option-for="vehicle-option">
					<div
						name="view-vehicles"
						data-dash-item
						data-control
						onClick={ this.onClickDashItem }>
						<button
							data-control
							data-small-control>
							<span
								data-icon
								className="glyphicon glyphicon-list">
							</span>
						</button>
						<span
							data-label>
							View Vehicles
						</span>
					</div>
				</div>
				{ /* @end-client-mode */ }
				<div
					name="log-out"
					data-dash-item
					data-control
					onClick={ this.onClickDashItem }>
					<button
						data-control
						data-small-control>
						<span
							data-icon
							className="glyphicon glyphicon-off">
						</span>
					</button>
					<span
						data-label>
						Log Out
					</span>
				</div>
			</div>
		</div>
		<div
			data-dash-controls
			data-controls
			data-align-vertical>
			<button
				data-control
				onClick={ this.onClickClose }>
				<span
					data-label>
					Close
				</span>
			</button>
		</div>
	</div>
</div>
