<div 
	data-page>
	<div
		data-edit-amenity
		data-content
		className="col-lg-4 col-md-6 col-sm-9 col-xs-12"
		data-minimal-scrollbar
		data-reference-height="body">
		<div 
			data-header>
			<h1 
				data-label
				data-header-label
				data-sub-header-label>
				edit amenity
			</h1>
		</div>
		<div 
			data-body>
			<div 
				data-form
				data-align-vertical>
				<div 
					data-form-item="amenity-selection"
					data-align-vertical
					data-controls>
					<div
						data-form-item-label>
						<span
							data-label>
							SELECT AMENITY
						</span>
					</div>
					<div
						data-input
						data-list-search>
						<input 
							type="text" 
							name="amenity" 
							placeholder="SEARCH AMENITY"
							title="Search for an amenity."
							value={ this.amenity }
							onChange={ this.searchAmenity }/>
					</div>
					<div 
						data-list-selection
						data-align-vertical
						data-option-for="edit-amenity-selection-option">
						<div
							data-empty-list
							data-list-length={ this.amenities.length }>
							<div
								data-label>
								no amenities	
							</div>
						</div>
						<div
							data-list
							data-list-length={ this.amenities.length }
							data-align-vertical>
							{ this.amenities.map( this.onEachAmenity ) }	
						</div>
					</div>
					<button 
						name="edit-amenity-selection-option"
						data-control
						data-option-control-switch>
						<span
							data-open-control
							data-label>
							Show Amenities	
						</span>
						<span
							data-close-control
							data-label>
							Hide Amenities	
						</span>
					</button>
				</div>
				<div
					data-form-group="amenity-edit-form"
					data-align-vertical>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								TITLE
							</span>
						</div>
						<div 
							data-input>
							<input 
								type="text" 
								name="title" 
								placeholder="TITLE"
								title="Enter the title of the amenity. This will be the one to be displayed."
								value={ this.state.title }
								onChange={ this.onChange }/>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								NAME
							</span>
						</div>
						<div 
							data-input>
							<input 
								type="text" 
								name="name" 
								placeholder="NAME"
								title="Enter the name of the amenity."
								value={ this.state.name }
								onChange={ this.onChange }/>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								DESCRIPTION
							</span>
						</div>
						<div 
							data-input>
							<textarea
								name="description" 
								placeholder="DESCRIPTION"
								title="Enter the description of amenity."
								value={ this.state.description }
								onChange={ this.onChange }>
							</textarea>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								IMAGE
							</span>
						</div>
						<div 
							data-input
							data-media-input
							data-image-preview
							title="Set the image for the amenity either by uploading or using a URL."
							data-reference="add-amenity"
							data-handler="media-amenity-image"
							data-align-vertical
							data-controls>
							<input 
								type="text" 
								name="image" 
								placeholder="IMAGE URL"
								title="Enter the URL for the image."
								value={ this.state.image }
								onChange={ this.onChange }
								data-media-url-input/>
							<button 
								data-control
								data-media-upload-control>
								<span
									data-label>
									Upload	
								</span>
							</button>
							<button 
								name="amenity-image-preview-option"
								data-control
								data-image-preview-control
								data-option-control-switch>
								<span
									data-open-control
									data-label>
									Show Preview	
								</span>
								<span
									data-close-control
									data-label>
									Hide Preview	
								</span>
							</button>
							<div
								data-option-for="amenity-image-preview-option">
								<div
									data-list-item-value
									data-empty-grid
									data-grid-length={ _.compact( [ this.state.image ] ).length }>
									<div
										data-label>
										no image	
									</div>
								</div>
								<div
									data-list-item-value
									data-grid
									data-grid-length={ _.compact( [ this.state.image ] ).length }
									data-image-preview-grid>
									{ _.compact( [ this.state.image ] ).map( this.onEachImage ) }
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div 
			data-controls
			data-footer
			data-align-vertical>
			<button 
				data-control
				onClick={ this.onEditAmenity }>
				<span
					data-label>
					Edit	
				</span>
			</button>
			<button 
				data-control
				onClick={ this.onCancel }>
				<span
					data-label>
					Cancel	
				</span>
			</button>
		</div>		
	</div>
</div>
