<div 
	data-page
	data-first-focus-indicator>
	<div
		data-edit-place
		data-content
		className="col-lg-4 col-md-6 col-sm-9 col-xs-12"
		data-minimal-scrollbar
		data-reference-height={ this.referenceHeight }>
		<div 
			data-header>
			<h1 
				data-label
				data-header-label
				data-sub-header-label>
				edit place
			</h1>
		</div>
		<div 
			data-body>
			<div 
				data-form
				data-align-vertical>
				<div 
					data-form-item="place-selection"
					data-align-vertical
					data-controls>
					<div
						data-form-item-label>
						<span
							data-label>
							SELECT PLACE
						</span>
					</div>
					<div
						data-input
						data-list-search>
						<input 
							type="text" 
							name="place" 
							placeholder="SEARCH PLACE"
							title="Search for a place."
							value={ this.place }
							onChange={ this.searchPlace }/>
					</div>
					<div 
						data-list-selection
						data-align-vertical
						data-option-for="edit-place-selection-option">
						<div
							data-empty-list
							data-list-length={ this.places.length }>
							<div
								data-label>
								no places	
							</div>
						</div>
						<div
							data-list
							data-list-length={ this.places.length }
							data-align-vertical>
							{ this.places.map( this.onEachPlace ) }	
						</div>
					</div>
					<button 
						name="edit-place-selection-option"
						data-control
						data-option-control-switch>
						<span
							data-open-control
							data-label>
							Show Places	
						</span>
						<span
							data-close-control
							data-label>
							Hide Places	
						</span>
					</button>
				</div>
				<div
					data-form-group="place-edit-form"
					data-align-vertical>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								TITLE
							</span>
						</div>
						<div 
							data-input>
							<input 
								type="text" 
								name="title" 
								placeholder="TITLE"
								title="Enter the title of the place."
								value={ this.state.title }
								onChange={ this.onChange }/>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								NAME
							</span>
						</div>
						<div 
							data-input>
							<input 
								type="text" 
								name="name" 
								placeholder="NAME"
								title="Enter the name of the place."
								value={ this.state.name }
								onChange={ this.onChange }/>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								DESCRIPTION
							</span>
						</div>
						<div 
							data-input>
							<textarea
								name="description" 
								placeholder="DESCRIPTION"
								title="Enter the description of place."
								value={ this.state.description }
								onChange={ this.onChange }>
							</textarea>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								INSTRUCTIONS
							</span>
						</div>
						<div 
							data-input>
							<textarea
								name="instructions" 
								placeholder="INSTRUCTIONS"
								title="Enter the instructions for the place."
								value={ this.state.instructions }
								onChange={ this.onChange }>
							</textarea>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								RATE
							</span>
						</div>
						<div 
							data-input>
							<input 
								type="text" 
								name="rate" 
								placeholder="RATE"
								title="Enter the rate of the place."
								value={ this.state.rate }
								onChange={ this.onChange }/>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								LOCATION
							</span>
						</div>
						<div 
							data-input>
							<input
								data-map-search
								type="text" 
								placeholder="SEARCH ADDRESS"
								title="Search for the address of the place."
								data-reference="edit-place"
								data-handler="map-place-search"/>
						</div>
						<div 
							data-map-input
							data-default-map-location
							title="Point the location of the place."
							data-reference="edit-place"
							data-handler="map-place-location">
						</div>
					</div>
					<div
						data-form-item
						data-preview-for="map-input">
						<div
							data-form-item-label>
							<span
								data-label>
								MAP PREVIEW
							</span>
						</div>
						<div
							data-map-info>
							<div
								data-map-preview
								data-latitude={ this.state.latitude }
								data-longitude={ this.state.longitude }
								data-zoom={ this.state.zoom }>	
							</div>
							<div
								data-map-info
								data-align-vertical>
								<div
									data-map-address
									data-latitude={ this.state.latitude }
									data-longitude={ this.state.longitude }
									data-reference="edit-place"
									data-handler="map-place-address">
									<span
										data-info>
									</span>
								</div>
								<div
									data-map-coordinate
									data-latitude={ this.state.latitude }
									data-longitude={ this.state.longitude }
									data-reference="edit-place"
									data-handler="map-place-coordinate">
									<span
										data-info>
									</span>	
								</div>
							</div>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								ADDRESS
							</span>
						</div>
						<div 
							data-input
							data-suggestive-input
							data-reference="edit-place"
							data-handler="suggest-place-address">
							<input 
								type="text" 
								name="address" 
								placeholder="ADDRESS"
								title="Enter the address of the place."
								value={ this.state.address }
								onChange={ this.onChange }/>
							<div
								data-suggestion
								name="address"
								onClick={ this.onChange }>
								<span
									data-info>
								</span>
							</div>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								AMENITIES
							</span>
						</div>
						<div 
							data-input
							data-tags-input
							data-reference="edit-place"
							data-handler="tags-place-amenities">
							<input 
								type="text" 
								name="amenity" 
								placeholder="AMENITY"
								title="Enter an amenity of the place."/>
						</div>
					</div>
					<div 
						data-form-item>
						<div
							data-form-item-label>
							<span
								data-label>
								IMAGES
							</span>
						</div>
						<div 
							data-input
							data-media-input
							data-image-preview
							title="Set the images for the place either by uploading or using a URL."
							data-reference="edit-place"
							data-handler="media-place-images"
							data-align-vertical
							data-controls>
							<input 
								type="text"
								placeholder="IMAGE URL"
								title="Enter the URL for the image."
								data-media-url-input/>
							<button 
								data-control
								data-add-more-control
								onClick={ this.addImage }>
								<span
									data-label>
									Add Image	
								</span>
							</button>
							<button 
								data-control
								data-media-upload-control>
								<span
									data-label>
									Upload	
								</span>
							</button>
							<button 
								name="edit-place-image-preview-option"
								data-control
								data-image-preview-control
								data-option-control-switch>
								<span
									data-open-control
									data-label>
									Show Preview	
								</span>
								<span
									data-close-control
									data-label>
									Hide Preview	
								</span>
							</button>
							<div
								data-option-for="edit-place-image-preview-option">
								<div
									data-list-item-value
									data-empty-grid
									data-grid-length={ this.state.images.length }>
									<div
										data-label>
										no image	
									</div>
								</div>
								<div
									data-grid
									data-image-preview-grid>
									{ this.state.images.map( this.onEachImage ) }
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div 
			data-controls
			data-footer
			data-align-vertical>
			<button 
				data-control
				onClick={ this.onEditPlace }>
				<span
					data-label>
					Edit	
				</span>
			</button>
			<button 
				data-control
				onClick={ this.onCancel }>
				<span
					data-label>
					Cancel	
				</span>
			</button>
		</div>		
	</div>
</div>
