<div
	data-page
	data-align-center>
	<div
		data-login
		data-content>
		<div
			data-header>
		</div>
		<div
			data-body>
			<div
				data-form
				data-align-vertical>
				<div
					data-form-item
					data-align-center>
					<BasicInput
						name="eMail"
						label="e-mail"
						placeholder="Enter your valid e-mail address."
						input={ this.state.eMail }
						update={ this.onChange }>
					</BasicInput>
				</div>
				<div
					data-form-item
					data-align-center>
					<PassphraseInput
						name="passphrase"
						label="password"
						placeholder={ "Enter your unique password." }
						input={ this.state.passphrase }
						update={ this.onChange }>
					</PassphraseInput>
				</div>
			</div>
		</div>
		<div
			data-footer
			data-controls
			data-align-vertical>
			<Control
				name="login"
				label="login"
				click={ this.login }>
			</Control>
			<Control
				name="register"
				label="register"
				click={ this.register }>
			</Control>
			<Control
				name="cancel"
				label="cancel"
				click={ this.home }>
			</Control>
		</div>
	</div>
</div>
