<div 
	data-page>
	<div 
		data-manage-places
		data-content>
		<div
			className="col-lg-4 col-md-6 col-sm-8 col-xs-12"
			data-manage-places-dashformbar
			data-divider
			data-vertical-divider>
			<div
				data-dashformbar
				data-minimal-scrollbar
				data-reference-height="@parent"
				data-vertical-gap="10">
				<div
					data-dashform-list
					data-align-vertical>
					<div
						data-dashform-item>
						<div
							name="add-place-form"
							data-dashform-control
							data-control
							data-option-control-switch>
							<div
								data-open-control
								onClick={ this.onOpenAddPlace }>
								<button
									data-dashform-icon
									data-control 
									data-small-control>
									<span 
										data-icon
										className="glyphicon glyphicon-plus">
									</span>
								</button>
								<div
									data-dashform-control-label
									data-label-holder>
									<span 
										data-label>
										Add Place
									</span>	
								</div>	
							</div>
							<div
								data-close-control
								onClick={ this.onCloseAddPlace }>
								<button
									data-dashform-icon
									data-control 
									data-small-control>
									<span 
										data-icon
										className="glyphicon glyphicon-chevron-up">
									</span>
								</button>
								<div
									data-dashform-control-label
									data-label-holder>
									<span 
										data-label>
										Close Add Place
									</span>	
								</div>	
							</div>
						</div>
						<div
							data-dashform
							data-reference-height="body"
							data-option-for="add-place-form">
							<div
								data-add-place-form>
								<AddPlace 
									isEmbedded={ true }
									handler={ this.onAddPlace } />	
							</div>
						</div>	
					</div>
					<div
						data-dashform-item>
						<div
							name="add-park-form"
							data-dashform-control
							data-control
							data-option-control-switch>
							<div
								data-open-control
								onClick={ this.onOpenAddPark }>
								<button
									data-dashform-icon
									data-control 
									data-small-control>
									<span 
										data-icon
										className="glyphicon glyphicon-plus">
									</span>
								</button>
								<div
									data-dashform-control-label
									data-label-holder>
									<span 
										data-label>
										Add Park
									</span>	
								</div>	
							</div>
							<div
								data-close-control
								onClick={ this.onCloseAddPark }>
								<button
									data-dashform-icon
									data-control 
									data-small-control>
									<span 
										data-icon
										className="glyphicon glyphicon-chevron-up">
									</span>
								</button>
								<div
									data-dashform-control-label
									data-label-holder>
									<span 
										data-label>
										Close Add Park
									</span>	
								</div>	
							</div>
						</div>
						<div
							data-dashform
							data-reference-height="body"
							data-header-height="5"
							data-footer-height="5"
							data-option-for="add-park-form">
							<div
								data-add-park-form>
								<AddPark
									isEmbedded={ true }
									handler={ this.onAddPark } />	
							</div>
						</div>
					</div>
					<div
						data-dashform-item>
						<div
							name="add-slot-form"
							data-dashform-control
							data-control
							data-option-control-switch>
							<div
								data-open-control
								onClick={ this.onOpenAddSlot }>
								<button
									data-dashform-icon
									data-control 
									data-small-control>
									<span 
										data-icon
										className="glyphicon glyphicon-plus">
									</span>
								</button>
								<div
									data-dashform-control-label
									data-label-holder>
									<span 
										data-label>
										Add Slot
									</span>	
								</div>	
							</div>
							<div
								data-close-control
								onClick={ this.onCloseAddSlot }>
								<button
									data-dashform-icon
									data-control 
									data-small-control>
									<span 
										data-icon
										className="glyphicon glyphicon-chevron-up">
									</span>
								</button>
								<div
									data-dashform-control-label
									data-label-holder>
									<span 
										data-label>
										Close Add Slot
									</span>	
								</div>	
							</div>
						</div>
						<div
							data-dashform
							data-reference-height="body"
							data-header-height="5"
							data-footer-height="5"
							data-option-for="add-slot-form">
							<div
								data-add-slot-form>
								<AddSlot
									isEmbedded={ true }
									handler={ this.onAddSlot } />	
							</div>
						</div>
					</div>
					<div
						data-dashform-item>
						<div
							name="add-price-form"
							data-dashform-control
							data-control
							data-option-control-switch>
							<div
								data-open-control
								onClick={ this.onOpenAddPrice }>
								<button
									data-dashform-icon
									data-control 
									data-small-control>
									<span 
										data-icon
										className="glyphicon glyphicon-plus">
									</span>
								</button>
								<div
									data-dashform-control-label
									data-label-holder>
									<span 
										data-label>
										Add Price
									</span>	
								</div>	
							</div>
							<div
								data-close-control
								onClick={ this.onCloseAddPrice }>
								<button
									data-dashform-icon
									data-control 
									data-small-control>
									<span 
										data-icon
										className="glyphicon glyphicon-chevron-up">
									</span>
								</button>
								<div
									data-dashform-control-label
									data-label-holder>
									<span 
										data-label>
										Close Add Price
									</span>	
								</div>	
							</div>
						</div>
						<div
							data-dashform
							data-reference-height="body"
							data-header-height="5"
							data-footer-height="5"
							data-option-for="add-price-form">
							<div
								data-add-price-form>
								<AddPrice
									isEmbedded={ true }
									handler={ this.onAddPrice } />	
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div
				data-dashform-controls 
				data-controls
				data-align-vertical>
				<button 
					data-control
					onClick={ this.onClose }>
					<span
						data-label>
						Close
					</span>
				</button>
			</div>
		</div>
		<div
			data-manage-places-formtable
			
			data-divider
			data-vertical-divider>
			
		</div>
	</div>
</div>