<div
	key={ place.referenceID }
	data-place-selection
	data-list-selection-item
	data-list-item
	data-place={ place.referenceID }
	data-selected-item={ isSelected }
	onClick={ this.onSelectPlace }>
	<div
		data-map-preview
		data-latitude={ place.latitude }
		data-longitude={ place.longitude }
		data-zoom={ place.zoom }
		data-list-item-thumbnail>	
	</div>
	<div
		data-list-item-info
		data-align-vertical
		className="col-lg-8">
		<div
			data-list-item-title>
			<span
				data-label>
				{ place.title }
			</span>
		</div>
		<div
			data-list-item-subtitle>
			<div
				data-label>
				{ place.description }
			</div>
		</div>
	</div>
</div>