<div
	data-page
	data-align-center>
	<div
		data-register
		data-content
		data-align-vertical>
		<div
			data-header>
		</div>
		<div
			data-body>
			<div
				data-form
				data-align-vertical>
				<div
					data-form-item
					data-align-center>
					<BasicInput
						name="firstName"
						label="first-name"
						placeholder="Enter your first name."
						input={ this.state.firstName }
						update={ this.onChange }>
					</BasicInput>
				</div>
				<div
					data-form-item
					data-align-center>
					<BasicInput
						name="lastName"
						label="last-name"
						placeholder="Enter your last name."
						input={ this.state.lastName }
						update={ this.onChange }>
					</BasicInput>
				</div>
				<div
					data-form-item
					data-align-center>
					<BasicInput
						name="birthDate"
						label="birth-date"
						placeholder="Enter your birth date."
						input={ this.state.birthDate }
						update={ this.onChange }>
					</BasicInput>
				</div>
				<div
					data-form-item
					data-align-center>
					<BasicInput
						name="mobileNumber"
						label="mobile-number"
						placeholder="Enter your mobile number."
						input={ this.state.mobileNumber }
						update={ this.onChange }>
					</BasicInput>
				</div>
				<div
					data-form-item
					data-align-center>
					<BasicInput
						name="eMail"
						label="e-mail"
						placeholder="Enter your valid e-mail."
						input={ this.state.eMail }
						update={ this.onChange }>
					</BasicInput>
				</div>
				<div
					data-form-item
					data-align-center>
					<PassphraseInput
						name="passphrase"
						label="password"
						placeholder="Enter your unique password."
						input={ this.state.passphrase }
						update={ this.onChange }>
					</PassphraseInput>
				</div>
			</div>
		</div>
		<div
			data-footer
			data-controls
			data-align-vertical>
			<Control
				name="register"
				label="register"
				click={ this.register }>
			</Control>
			<Control
				name="cancel"
				label="cancel"
				click={ this.home }>
			</Control>
		</div>
	</div>
</div>
