<div 
	data-page>
	<div
		data-view-currencies
		data-content
		className="col-lg-4 col-md-6 col-sm-9 col-xs-12"
		data-minimal-scrollbar
		data-reference-height="body">
		<div 
			data-header>
			<h1 
				data-label
				data-header-label
				data-sub-header-label>
				view currencies
			</h1>
		</div>
		<div 
			data-body
			data-align-vertical>
			<div
				data-empty-list
				data-list-length={ this.state.currencies.length }>
				<div
					data-label>
					no currencies	
				</div>
			</div>
			<div
				data-list
				data-list-length={ this.state.currencies.length }
				data-align-vertical>
				{ this.state.currencies.map( this.onEachCurrency ) }
			</div>
		</div>
		<div 
			data-controls
			data-footer
			data-align-vertical>
			<button 
				data-control
				onClick={ this.onClose }>
				<span
					data-label>
					Close	
				</span>
			</button>
		</div>		
	</div>
</div>
