<div
	key={ vehicle.referenceID }
	data-view-vehicle
	data-list-item
	data-expandable-view>
	<div
		data-minimal-view>
		<div
			data-list-item-info
			data-align-vertical
			className="col-lg-10">
			<div
				data-list-item-title>
				<span
					data-label>
					{ vehicle.model.title }
				</span>
			</div>
			<div
				data-list-item-subtitle>
				<div
					data-label>
					{ vehicle.model.brand }
				</div>
			</div>
		</div>
	</div>
	<div
		data-full-view>
		<div
			data-list-item-info
			data-align-vertical>
			<div
				data-list-item-value
				className="col-lg-10">
				<div
					data-info>
					{ vehicle.plateNumber }
				</div>
				<div
					data-subinfo>
					{ vehicle.model.title }
				</div>
			</div>
		</div>
		<div
			data-list-item-info
			data-align-vertical>
			<div
				data-list-item-header>
				<span
					data-label>
					MODEL NAME
				</span>
			</div>
			<div
				data-list-item-value>
				<div
					data-info>
					{ vehicle.model.name }
				</div>
			</div>
		</div>
		<div
			data-list-item-info
			data-align-vertical>
			<div
				data-list-item-header>
				<span
					data-label>
					BRAND
				</span>
			</div>
			<div
				data-list-item-value>
				<div
					data-info>
					{ vehicle.model.brand }
				</div>
			</div>
		</div>
		<div
			data-list-item-info
			data-align-vertical>
			<div
				data-list-item-header>
				<span
					data-label>
					COLOR
				</span>
			</div>
			<div
				data-list-item-value>
				<div
					data-info>
					{ vehicle.color.title }
				</div>
			</div>
		</div>
	</div>
	<button 
		data-control 
		data-small-control
		data-list-item-control
		data-expandable-control
		data-control-switch>
		<span 
			data-open-control
			data-icon
			className="glyphicon glyphicon-option-vertical">
		</span>
		<span 
			data-close-control
			data-icon
			className="glyphicon glyphicon-chevron-up">
		</span>
	</button>
</div>